.btn-blue{
	background-color: rgb(242, 168, 58);
	padding:15px 20px;
	border-radius:4px;
	color: black;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover{
	color: rgb(242, 168, 58);
	color:white;
}

.list-inline{
	list-style:none;
	padding-left:0px;
}

.list-inline li{
	display:inline;
	padding:10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(239, 139, 0);
}

.list-inline i:hover{
	color: rgb(242, 168, 58);
}